<html>
    <title>TULIP DESIGN SYSTEM</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Source+Serif+4:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../landingstyles.css">
<div id="page">

  <header id="header">
      <img src="../fleur.png" height="250px" width="250px" alt="">
      <br>
      ORIN FRIES' TULIP DESIGN SYSTEM
       <br><a class="navi" href="../index.html#principles">principles</a>
        <a class="navi" href="../index.html#userStories">user stories</a>
      <a class="navi" href="../index.html#patterns">patterns</a>
        <a class="navi" href="../index.html#components">components</a>
      <a class="navi" href="../index.html#guidelines">guidelines</a>
      <a class="navi" href="../index.html#contribute">contributing</a>
  </header>
    
  <main id="main" class="cf">
    
    <div class="div-1">
    <h1 id="principles"><img src="../buttonstar.png" height="50px" width="50px" alt="">Date/Time Selector</h1>
      <p>How the calendar appears.
      <br>
          <br>
  <code>calendar code and styling goes here</code>
        </p>  
    </div>
  </main>

  <footer id="footer">
    &copy; Orin Fries, LiftOff, 2022 
      <br><br><a class="navi" href="../index.html">return to index</a>
  </footer>

</div>
</html>